<!DOCTYPE html>
<head>
	<title>The Prestige Tree</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
	<script type="text/javascript" src="js/break_eternity.js"></script>
	<script type="text/javascript" src="js/temp.js"></script>
	<script type="text/javascript" src="js/game.js"></script>
	<script type="text/javascript" src="js/v.js"></script>
	<script type="text/javascript" src="js/canvas.js"></script>
	<script type="text/javascript" src="js/layer.js"></script>
	<script type="text/javascript" src="js/layers/p.js"></script>
</head>
<body onload="load()">
	<div class="vl"></div>
	<div id="app">
		<div v-if="player.tab === 'changelog'" class="col right">
			<button class="back" onclick="showTab('tree')">←</button><br><br>
			<p>This changelog is empty. How mysterious...</p>
		</div>
		<div v-if="player.tab ==='credits'" class="col right">
			<button class="back" onclick="showTab('tree')">←</button><br><br><br><br><br>
			This game uses <a href="https://github.com/Patashu/break_eternity.js/tree/master" target="_blank">break_eternity.js</a> by Patashu.<br>
			Made by Jacorb<br>
			Idea by papyrus (on discord)<br>
			This mod was made with layer.js, a tool for making mods of Prestige Tree.
		</div>
		<div v-if="player.tab === 'info'" class="col right">
			<button class="back" onclick="showTab('tree')">←</button><br><br><br><br><br>
			Time Played: {{ formatTime(player.timePlayed) }}<br><br><br>
			<div id="cl" onclick="showTab('credits')">Credits</div><br>
			<div id="cl" onclick="showTab('changelog')">Changelog</div><br>
			<div id="cl" onclick="window.open('https://discord.gg/wwQfgPa','mywindow')" target="_blank">My Discord</div><br><br>
			<h3>Hotkeys</h3><br><br>
			P: Prestige reset<br>
		</div>
		<div v-if="player.tab === 'options'" class="col right">
			<button class="back" onclick="showTab('tree')">←</button><br><br><br><br><br>
			<table>
				<tr>
					<td><button class="opt" onclick="save()">Save</button></td>
					<td><button class="opt" onclick="hardReset()">HARD RESET</button></td>
				</tr>
				<tr>
					<td><button class="opt" onclick="exportSave()">Export to clipboard</button></td>
					<td><button class="opt" onclick="importSave()">Import</button></td>
				</tr>
				<tr>
					<td><button class="opt" onclick="toggleOpt('autosave')">Autosave: {{ player.autosave?"ON":"OFF" }}</button></td>
					<td><button class="opt" onclick="adjustMSDisp()">Show Milestones: {{ player.msDisplay.toUpperCase() }}</button></td>
					<td><button class="opt" onclick="toggleOpt('offlineProd')">Offline Prod: {{ player.offlineProd?"ON":"OFF" }}</button></td>
				</tr>
			</table>
		</div>
		<div id="treeTab" v-if="player.tab!='gameEnded'" onscroll="resizeCanvas()" class="col left">
			<img id="optionWheel" v-if="player.tab!='options'" src="options_wheel.png" onclick="showTab('options')"></img>
			<div id="info" v-if="player.tab!='info'" onclick="showTab('info')"><br>i</div>
			<span v-if="offTime.remain>0">
				<br>Offline Time: {{formatTime(offTime.remain)}} ({{format(offTime.speed)}}x speed)<br>
			</span>
			<br>You have <h2>{{format(player.points)}}</h2> Points
			<br><br><br><br><br>
			<div v-for="(row, index) in ROW_LAYERS">
				<table>
					<tr>
						<td><tree-node v-for="layer in ROW_LAYERS[index]" :layer="layer"></tree-node></td>
					</tr>
				</table>
				<table v-if="index !== ROW_LAYERS.length - 1">
					<tr>
						<td><button class="treeNode hidden"></button></td>
					</tr>
				</table>
			</div>
			<canvas id="treeCanvas" class="canvas"></canvas>
		</div>
		<div v-for="layer in LAYERS">
			<div v-if="player.tab === layer" class="col right">
				<button class="back" onclick="showTab('tree')">←</button><br><br><br>
				You have <h2 v-bind:class="{ [layer+'_txt']: true }">{{formatWhole(player[layer].points)}}</h2> {{LAYER_RES[layer]}}<span v-if="Object.keys(LAYER_EFFS).includes(layer)">, {{getLayerEffDesc(layer)}}</span>
				<br><br>
				<div v-if="layers.layers[layer].milestones">
					<table>
						<tr v-for="milestone in layers.layers[layer].milestones">
							<td
								v-if="milestoneShown(resolveMilestone(milestone.req, player[layer].best), milestone.auto)"
								:class="{
									milestone: !resolveMilestone(milestone.req, player[layer].best),
									milestoneDone: resolveMilestone(milestone.req, player[layer].best)
								}">{{ typeof milestone.req === "function" ? milestone.disp : milestone.req }} {{ layers.layers[layer].name }}<br>{{ milestone.text }}</td>
						</tr>
					</table>
				</div>
				<!--
					Example Miles Ton
				<div v-if="layer=='g'">
					<table><tr><td v-if="milestoneShown(player.g.best.gte(8)||player.h.best.gte(1)||player.q.best.gte(1))" v-bind:class="{ milestone: player.g.best.lt(8)&&player.h.best.lt(1)&&player.q.best.lt(1), milestoneDone: player.g.best.gte(8)||player.h.best.gte(1)||player.q.best.gte(1) }">8 Generators<br>Keep Prestige Upgrades on reset</td></tr>
					<tr><td v-if="milestoneShown(player.g.best.gte(10))" v-bind:class="{ milestone: player.g.best.lt(10), milestoneDone: player.g.best.gte(10) }">10 Generators<br>Gain 100% of Prestige Point gain every second</td></tr>
					<tr><td v-if="milestoneShown(player.g.best.gte(15))" v-bind:class="{ milestone: player.g.best.lt(15), milestoneDone: player.g.best.gte(15) }">15 Generators<br>You can buy max Generators</td></tr></table>
				</div>
				-->
				<div v-if="layers.layers[layer].html" v-html="layers.layers[layer].html()"></div>
				<br><br><br>
				<button v-if="LAYER_TYPE[layer]=='normal'" v-bind:class="{ [layer]: true, reset: true, locked: tmp.layerAmt[layer].lt(tmp.layerReqs[layer]), can: tmp.layerAmt[layer].gte(tmp.layerReqs[layer]) }" v-on:click="doReset(layer)">+{{formatWhole(tmp.resetGain[layer])}} {{LAYER_RES[layer]}}<br>Next at {{ (LAYER_RES_CEIL.includes(layer) ? formatWhole(tmp.nextAt[layer]) : format(tmp.nextAt[layer])) }} {{ LAYER_AMT_NAMES[layer] }}</button>
				<button v-if="LAYER_TYPE[layer]=='static'" v-bind:class="{ [layer]: true, reset: true, locked: tmp.layerAmt[layer].lt(tmp.nextAt[layer]), can: tmp.layerAmt[layer].gte(tmp.nextAt[layer]) }" v-on:click="doReset(layer)">+{{formatWhole(tmp.resetGain[layer])}} {{LAYER_RES[layer]}}<br>Req: {{(LAYER_RES_CEIL.includes(layer) ? formatWhole(tmp.nextAt[layer]) : format(tmp.nextAt[layer]))}} {{ LAYER_AMT_NAMES[layer] }}</button>
				<br><br><br>
				<div class="upgTable" v-if="LAYER_UPGS[layer]">
					<div v-for="row in LAYER_UPGS[layer].rows" class="upgRow">
						<div v-for="col in LAYER_UPGS[layer].cols">
							<button
								v-if="LAYER_UPGS[layer][row*10+col].unl()"
								@click="buyUpg(layer, row*10+col)"
								:class="{ [layer]: true, upg: true, bought: player[layer].upgrades.includes(row*10+col), locked: (player[layer].points.lt(LAYER_UPGS[layer][row*10+col].cost)&&!player[layer].upgrades.includes(row*10+col)), can: (player[layer].points.gte(LAYER_UPGS[layer][row*10+col].cost)&&!player[layer].upgrades.includes(row*10+col)) }"
							>{{ LAYER_UPGS[layer][row*10+col].desc }}<br>Cost: {{ formatWhole(LAYER_UPGS[layer][row*10+col].cost) }} {{LAYER_RES[layer]}}<span v-if="LAYER_UPGS[layer][row*10+col].currently"><br>Currently: {{LAYER_UPGS[layer][row*10+col].effDisp(LAYER_UPGS[layer][row*10+col].currently())}}</span></button>
						</div>
					</div>
				</div>
				<br><br>
			</div>
		</div>
	</div>
</body>